// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #6B8E4E;
$gray: #BFBFBF;
$light-gray: #F4F4F4;
$dark-gray: #1B2727;

$dark-green: #3C5148;
$light-green: #B2C5B2;


