html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 3.125rem;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  font-size: 2.625rem;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: no-wrap;
}

.about-image {
  justify-content: center;
  align-items: center;
  margin-top: 3em;

}

.about-image img {
  border-radius: 50%;
  height: 18.75rem;
  box-shadow: 2px 4px 10px #212121;
}

.about-text {
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2em 2em;
}

.about-text p {
  font-size: 1.5rem;
}

.experience-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
  background: $blue-gray;
}

.experience-top {
  margin: 2em 2em;
  color: black;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  // flex-wrap: wrap;
  background: linear-gradient($blue-gray, #DBDBDB, #F2F2F2);
}

.skills {
  color: black;
  margin: 2em 2em;
  display: flex;

}

.skill-title{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.skill-icon {
  align-self: flex-start;
  order: 1;
  height: 4em;
  width: 4em;
  justify-content: center;
}

.skill-header {
  order: 2;
}
.skill-text {
  align-self: flex-end;
  order: 3;
}
