<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:400,400i,600,700" rel="stylesheet">

  </head>
  <body>
    <div class="navbar-guyer">
      <!-- Logo -->
      <a href="/" class="navbar-guyer-brand">
        <%= image_tag "logo.png", alt: "JG Logo"%>
      </a>
      <!-- Right Navigation -->
      <div class="navbar-guyer-right hidden-xs hidden-sm">
        <a href="https://www.linkedin.com/in/jaredleeguyer" class="navbar-guyer-item navbar-guyer-link">Resume</a>
        <a href="https://medium.com/@jared_guyer" class="navbar-guyer-item navbar-guyer-link">Blog</a>
        <a href="mailto:jguyer@jaredguyer.io" class="navbar-guyer-item navbar-guyer-link">Contact</a>
      </div>
    </div>
    <!-- Banner with short intro -->
    <div class="banner col-lg-12" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 10%, rgba(0,36,61,0.65) 50%), url('<%=image_path "Forest_cover.jpeg" %>');">
      <div class="container">
        <div class="banner-content">
          <h2>Hi, I'm Jared. <br> Strategist, technologist, <br>& entreprenuer.</h2>
        </div>
      </div>
    </div>
    <!-- About section w/ Picture with description -->
    <div class="about col-lg-12" style="background-image: url('<%=image_path "Paper_cover.jpg" %>');">
      <div class="container">
       <div class="about-wrapper">
         <div class="box1">
           <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12985548_822061185858_3422673379480614014_n.jpg?oh=f35ba70c7f70875e50507bd0c696ab5c&oe=5ABC7277" alt="jared"></div>
         <div class="box2">
           <p style="font-size:32px">I’m an experienced business consultant, product and project manager.</p>
           <p style="font-size: 28px"> Currently a digital nomad -- I am skilled in operationalizing strategy, prototyping & developing technology products, and aligning digital presence with strategic goals.</p>
         </div>
       </div>
     </div>
    </div>
<!--     <div class="skills">
      <div class="container">
        <div class="skills-content">
          <p>Here I discuss skills</p>
        </div>
      </div>
    </div> -->
      <div class="footer">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/jaredleeguyer/"><i class="fa fa-linkedin"></i></a>
          <a href="https://medium.com/@jared_guyer"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/jaredg8"><i class="fa fa-github"></i></a>
          <a href="mailto:jguyer@jaredguyer.io" ><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="footer-copyright">
          Handcrafted with  <i class="fa fa-heart"></i>  from the road
        </div>
      </div>
  </body>
</html>
