<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:400,400i,600,700" rel="stylesheet">

  </head>


    <body>
      <div class="navbar-guyer">
      <!-- Logo -->
        <a href="/" class="navbar-guyer-brand">
          <%= image_tag "logo.png", alt: "JG Logo"%>
        </a>
      <!-- Right Navigation -->
        <div class="navbar-guyer-right hidden-xs hidden-sm">
          <a href="" class="navbar-guyer-item navbar-guyer-link">Resume</a>
          <a href="" class="navbar-guyer-item navbar-guyer-link">Blog</a>
          <a href="" class="navbar-guyer-item navbar-guyer-link">Contact</a>
        </div>
      </div>
      <h1>Hi, I'm Jared</h1>
      <p>I provide business strategy and technology advisory</p>
    </body>
</html>
