<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Resume | Jared Lee Guyer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="nine columns">
          <h1>Jared Lee Guyer</h1>
          <p>I focus on strategy and business advisory and digital services such as web development.  During my six years as a high performing consultant at Deloitte Consulting LLP gained deep experience in product and project management, taking digitial products from idea to scaled production, strategic planning, human capital assessment, User Acceptance Testing, and training.  </p>
        </div>
        <div class="three columns pic">
          <img class="profile" src="http://placehold.it/130x130" alt="">
          <a href="#">+1.202.489.7070</a>
          <a href="#">jguyer@jaredguyer.io</a>
          <a href="#">jaredguyer.io</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="maincontent">
      <div class="row">
        <div class="four columns timeline">
          <h1>Experience</h1>
          <h4>Jan 2018 -  Present </h4>
        </div>
        <div class="seven columns offset-by-one">
          <h2>Jared Lee Guyer LLC</h2>
          <h3>Freelance - Strategy & Technology Advisory</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
            <li>Aut consequuntur veniam illo, vel, non repudiandae? </li>
            <li>Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="four columns timeline">
          <h4>Sept 2011 -  Dec 2017</h4>
        </div>
        <div class="seven columns offset-by-one">
          <h2>Deloitte Consulting, LLP</h2>
          <h3>Manager - Strategy & Operations Analytics</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns timeline">
          <h4>April 2008 -  May 2010</h4>
        </div>
        <div class="seven columns offset-by-one">
          <h2>Deloitte Consulting, LLP</h2>
          <h3>Senior Consultant & Consultant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns timeline">
          <h4>April 2008 -  May 2010</h4>
        </div>
        <div class="seven columns offset-by-one">
          <h2>Previous Experience</h2>
          <h3>Senior Consultant & Consultant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
        </div>
      </div>
      <div class="row skills">
        <div class="four columns">
          <h1>Skills</h1>
        </div>
        <div class="seven columns offset-by-one">
          <span>Project Management</span>
          <span>Product Management</span>
          <span>Strategy</span>
          <span>Technology Advisory</span>
          <span>Business Development</span>
          <span>Proposal Writing</span>
          <span>Protoyping</span>
          <span>Analytics</span>
          <span>Design Thinking</span>
          <span>Facilitation</span>
          <span>Human Capital Assessment</span>
          <span>User Acceptance Testing</span>
          <span>HTML</span>
          <span>CSS</span>
          <span>Javascript</span>
          <span>Ruby on Rails</span>
          <span>Manadarin Chinese 中文</span>

        </div>
      </div>
      <div class="row education">
        <div class="four columns">
          <h1>Education</h1>
        </div>
        <div class="seven columns offset-by-one">
          <h2>University</h2>
          <h3>MBA - American University</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
          <h3>BA - Hampshire College</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
          <h2>Additional Education</h2>
          <h3>Le Wagon Full Stack Development Bootcamp - Berlin, Germany</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
          <h3>Beijing University of Post & Telecom - Beijing, China</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
        </div>
        </div>
      </div>
    </div>
    <footer>
      Jared Guyer | jguyer@jaredguyer.io | +1.202.489.7070
    </footer>
  </div>
</body>

</html>
