<html>
  <head>

  </head>
  <body>
    <!-- I will do my grid with 12 columns with each being about 8.3% of page-->

    <!-- it seems to always start with a class grid which declares the max width
    next is a class that declares how far the span goes
    always starts with 1) big 12 column div 2) span 2 for margin 3) span 8 for content 4) span 2 for margin
    3) content section for what looks like a row or a div
      so for instance in a section with 4 cards she will do a span for each card on a set of two rows
      she will also do a row for a heading and a button, top and bottom respectively

    4) span 2 for right margin

    to make responsive specifies 4 span for tablet/assuming computer is same and 8 span for cell
    uses min height 100vh rather than max height

    uses padding and grid gap around 16px -->


    <div class="navbar-sage">

    </div>
      <div class="banner-section">
    <!-- what I have as a section class Nicole puts as an ID -->
      </div>

    <div class="banner-content">

    </div>

      <div class="intro-section">

      </div>

        <div class="intro-content">

        </div>
    <div class="podcast-section">

    </div>

      <div class="podcast-content">

      </div>

        <div class="podcast-card">

        </div>

    <div class="media-section">

    </div>

      <div class="media-content">

      </div>

        <div class="media-card">

        </div>
  </body>

  <footer>
    <div class="footer-section">
    </div>
      <div class="footer-content">

      </div>
        <div class="footer-bar-links">
              <!-- Hover for social media links should be that bright red he likes -->
        </div>
          <div class="footer-bar-message">

            <!-- there should be a copyright message here at bottom -->

          </div>
  </footer>
</html>
