/* Main navbar */
.navbar-guyer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green;
}

/* Logo */
.navbar-guyer-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-guyer .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-guyer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px
}

/* Basic navbar item */
.navbar-guyer-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-guyer-link {
  color: $light-gray;
  font-size: 14px;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}
.navbar-guyer-link:hover {
  color: $dark-gray;
  text-decoration: none;
  opacity: 0.5;
}

